
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100%;

    gap: 25px;
}

.btnInicial{
    width: 300px;
    height: 60px;

    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Genos";

    background-color: #fff;

    border-radius: 7px;
    border: none;

    box-shadow: 0px 4px 25px 5px rgba(87,42,84,0.67);
-webkit-box-shadow: 0px 4px 25px 5px rgba(87,42,84,0.67);
-moz-box-shadow: 0px 4px 25px 5px rgba(87,42,84,0.67);

cursor: pointer;
 
}
#overlay{
    width: 100%;
    height: 100%;

    position: absolute;

    display: none;
}
#poup-up{
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(10px); /* Frosted glass blur */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    border-radius: 15px; /* Rounded corners */
  box-shadow:
  0px 4px 6px -1px rgba(0, 0, 0, 0.1);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 25px;
    padding: 15px;

    width: 350px;
    height: 550px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#poup-up header{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    gap: 15px;

    margin-bottom: 15px;

}

#poup-up header h2{
    font-family: "Bangers", system-ui;
    font-weight: bold;
    font-style: normal;
    color: #000;

    filter: drop-shadow(0px 2px 2px rgba(255, 255, 255, 0.5));


}

#poup-up header input{
    border: none;
    border-radius: 7px ;
    
    background-color: #fff;
    box-shadow:0px 4px 6px -1px rgba(0, 0, 0, 0.1);

    width: 320px;
    height: 40px;

    padding-left: 10px;

    font-family: "Bangers", system-ui;
    
    font-style: normal;
    
}

#modos{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.opcaoModos{
    background-color: #fff;
    box-shadow:0px 4px 6px -1px rgba(0, 0, 0, 0.1);

    width: 320px;
    height: 80px;

    padding: 0 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    border-radius: 7px;

    cursor: pointer;
}

.nomeModo{
    font-family: "Bangers", system-ui;
    font-weight: bold;
    font-style: normal;

    color: #000;
    filter: drop-shadow(0px 2px 2px rgba(255, 255, 255, 0.5));
}

.descricaoModo{
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 0.7rem;
    color: gray;
}

#boxConfirm, #boxcustomconfirm{
    position: absolute;
    background-color: #fff;
    box-shadow:0px 4px 6px -1px rgba(0, 0, 0, 0.8);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px;
    
    border-radius:5px;

    font-family: "genos";
    font-size: 1rem;
    line-height: 25px;
    font-weight: 300;

    width: 320px;

    text-align: center;

    
    flex-direction: column;
    gap: 10px;

    display: none;

}

#buttons button,#buttonscustom button{
    width: 100px;
    height: 25px;

    font-family: "Bangers";

    background-color: whitesmoke;
    
        box-shadow:0px 4px 6px -1px rgba(0, 0, 0, 0.3);

        border: none;
    color: #310063;
    cursor: pointer;

    margin: 5px 10px;

    
}

#buttons button:active{
     box-shadow:0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}