@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Genos:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
 margin: 0;
 padding: 0;
 text-decoration: none;
 box-sizing: border-box;   
 outline: none;
 list-style: none;
}
body{
background-color:#000;
}
